{% extends 'layout.html.twig' %}

{% block title %}Add Comment{% endblock%}

{% block body %}
    <h1>Add comment for blog post "{{ comment.blog.title }}"</h1>
    {% include 'comment/form.html.twig' with { 'form': form } %}
{% endblock %}
