{# src/templates/comment/form.html.twig #}

<form action="{{ path('comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post"  class="blog">

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>
