/* NAVBAR */
.navbar {
  background: #0a1c2e;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 2px;
  background: #fec400;
  transition: 0.2s;
}

.nav-item:hover::after {
  width: 100%;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fec400;
}

.nav-link {
  padding: 15px 5px;
  transition: 0.2s;
}

.dropdown-item.active, .dropdown-item:active {
  color: #212529;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #fec400;
}

.btn .btn-outline-warning {
  color: #212529;
}

.btn .btn-outline-warning:hover {
  background: #212529;
}
/* FOOTER */
a:hover {
  text-decoration: none;
}

.section-padding {
  padding: 30px 0;
}

.bottom {
  background-color: #0a1c2e;
/*  max-height: 1.5em; */
}

.bottom .copyright {
  color: #e5e5e5;
  font-weight: 600;
}

.copyright a {
  color: #fec400;
  margin-left: 3px;
  padding-right: 3px;
}

.bottom p {
  margin-bottom: 0;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.copyright p span {
  color: #d1caca;
}

.ftr-legal ul li {
  /*color: #212529;*/
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  margin-left: 3px;
  padding-right: 10px;
/*float: left;*/
}

.ftr-legal a {
  color: #fec400;
}

.ftr-legal a:hover {
  color: #6c6d83;
}

.ftr-social ul li {
  color: #212529;
  display: inline-block;
  margin-left: 1px;
  padding-right: 9px;
/*float: right;*/
}

.ftr-social a:hover {
  color: #6c6d83;
}

.ftr-social a {
  color: #fec400;
}

.bottom .copyright p, .bottom .copyright a:hover {
  color: #6c6d83;
}

/* SIDEBAR */
.sidebar {
  width: 25%;
  padding: 10px;
  display: inline-block;
  float: right;
}

.main-col {
  width: 75%;
  display: inline-block;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
}

.main-col a {
  color: #fec400;
}

.main-col h1,
.main-col h2 {
  line-height: 1.2em;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #6c6d83;
}

.main-col p {
  line-height: 1.5em;
  margin-bottom: 20px;
}
