{% trans_default_domain 'WXLUserBundle' %}

{{form_start(form, {'method': 'POST', 'attr':{'class': 'register', 'class': 'form-signin'}})}}

  <div class="login-container">
    <h1>{{ 'login.register.title'|trans({}, 'messages') }}</h1><br>
    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}

    {{ form_errors(form.username) }}

    {{ form_label(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }}

    {{ form_errors(form.plainPassword.first) }}

    {{ form_label(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }}

    {{ form_errors(form.plainPassword.second) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_errors(form.email) }}

    <br>
    <div align="center" class="login-help"><br>
      <button class="btn btn-warning" type="submit" name="action">
        {{ 'registration.submit'|trans }}
        <i class="material-icons">send</i>
      </button>
    </div>
  </div>

{{ form_end(form) }}
