{# src/templates/blog/show.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block body %}
    <article class="blog">
        <header>
            <div class="date"><time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time></div>
            <h2>{{ blog.title }}</h2>
        </header>
        <img src="{{ asset(['images/blog/', blog.image]|join) }}" alt="{{ blog.title }} image not found" class="large" />
        <div>
            <p>{{ blog.blog }}</p>
        </div>
    </article>

    <section class="comments" id="comments">
    <section class="previous-comments">
        <h3>Comments</h3>
        {% include 'comment/index.html.twig' with { 'comments': comments } %}
    </section>
    <h3>Add Comment</h3>
        {{ render(controller( 'App\\Controller\\CommentController::new', { 'blog_id': blog.id } )) }}

</section>

{% endblock %}
