<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% trans %}site.name{% endtrans %} ({% trans %}site.title{% endtrans %}){% endblock %}</title>

  {% block stylesheets %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- FontAwesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <!-- Cusom CSS -->
  <link rel="stylesheet" href="{{ asset('css/master.css') }}">
  <link rel="stylesheet" href="{{ asset('css/blog.css') }}">
  {% endblock %}

  <link rel="icon" type="image/x-icon" href="{{ asset('images/logo/favicon.ico') }}" />
</head>

<body>

  {% block navbar %}
  <nav class="navbar navbar-expand-md navbar-dark mb-4">
    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('images/logo/logo.png') }}" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('homepage') }}">{% trans %}nav.home{% endtrans %} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('about') }}">{% trans %}nav.about{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('contact') }}" tabindex="-1" aria-disabled="true">{% trans %}nav.contact{% endtrans %}</a>
        </li>
      </ul>
      <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/en"><img src="{{ asset('images/flags/us.png') }}" /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/de"><img src="{{ asset('images/flags/de.png') }}" /></a>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock navbar %}

<main>

  <div id="" class="container">
    <div class="panel panel-default">
      <div class="panel-body main-col">
        <!-- The content of the Blog will be here-->
        {% block body %}{% endblock body %}
      </div>

      <aside class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
      </aside>

    </div>
  </div>
</main>
  {% block footer %}
  <!--Bottom Footer-->
  <div class="bottom section-padding fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="copyright">
            <p><a href="#" class="transition">{% trans %}footer.copy{% endtrans %}</a> &copy; <span>{{ "now" | date("Y") }}</span> <a
                href="mailto://{{ 'footer.mail.username'|trans }}@{{ 'footer.mail.domain'|trans }}">{{ 'footer.mail.title'|trans }}</a>. All rights reserved.</p>
          </div>
          <div class="ftr-legal">
            <ul>
              <li><a href="#">{% trans %}legal.terms{% endtrans %}</a></li>
              <li><a href="#">{% trans %}legal.disclaimer{% endtrans %}</a></li>
              <li><a href="#">{% trans %}legal.privacy.policy{% endtrans %}</a></li>
              <li><a href="#">{% trans %}legal.imprint{% endtrans %}</a></li>
            </ul>
            <ul class="ftr-social">
              <li><a href="#"><i class="fab fa-facebook-square fa-2x" alt="Share on Facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter-square fa-2x" alt="Share on Twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-google-plus-square fa-2x" alt="Share on Google+"></a></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Bottom Footer-->
  {% endblock footer %}

  {% block javascripts %}
  <!--  jQuery, Popper.js, and Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

  <!-- FontAwesome JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>

  <!-- Cusom JS -->
  <script type="text/javascript" src="{{ asset('js/master.js') }}"></script>
  {% endblock javascripts %}

</body>

</html>
